<!--<app-home-header></app-home-header>-->
<main>
    <section class="hero">
        <div class="container">
            <div class="main-message">
                <div class="mssg">

                    <h1>Neo Pet Rescue</h1>
                    <h3>Sistema Fundaciones</h3>
                </div>

                <!--<p>Tenemos la misión de conectar a todas las fundaciones o protectoras de animales y demás entidades colaboradoras con aquellos interesados en sumar a un miembro más a la familia, para que aquellos animales que no lo han tenido fácil logren encontrar su hogar definitivo.
                </p>
                <div class="cta">
                    <a href="#" class="btn">Book now</a>
                </div>-->
            </div>
        </div>
    </section>
    <section class="experience-outdoors">
        <div class="container">
            <div class="title-heading">
                <h1>Nuestro proyecto</h1>
                <p>Tenemos la misión de conectar a todas las Fundaciones protectoras de animales y demás entidades
                    colaboradoras, con aquellos interesados en sumar a un miembro más a la familia.</p>
            </div>

        </div>
    </section>
    <section class="galeria">
        <div class="sesgoarriba"></div>
        <div class="imagenes none">
            <img src="../../../../assets/img/gato7.jpg" alt="">
        </div>
        <div class="imagenes">
            <img src="../../../../assets/img/perro-gato-by-Rocket-900x600.jpg" alt="">
        </div>
        <div class="imagenes">
            <img src="../../../../assets/img/veterinaria-macias-001.jpg" alt="">
            <div class="encima">
                <h2>ADOPTA</h2>
                <div></div>
            </div>
        </div>
        <div class="imagenes">
            <img src="../../../../assets/img/Perro-blanco-con-negro-354014.jpg" alt="">

        </div>
        <div class="imagenes none">
            <img src="../../../../assets/img/5865758f8cd02.jpeg" alt="">
        </div>
        <div class="sesgoabajo"></div>
    </section>
    <section class="experience-outdoors">
        <div class="container">
            <div class="title-heading">
                <h1>Conoce nuestra plataforma</h1>

            </div>
            <div class="activities-grid">
                <div class="activities-grid-item hiking">
                    <div class="iconsRedirect">
                        <i class="fa fa-university" aria-hidden="true"></i>
                        <i class="fa fa-sign-in redirect" aria-hidden="true"></i>
                    </div>
                    <h1>¿ERES UNA FUNDACIÓN?</h1>
                    <p>Puedes unirte a nuestro sistema y dar a conocer tu Fundación, mascotas, voluntarios y colaborar en las emergencias suscitadas en tiempo real.
                    </p>

                    <div class="btnCrds">
                        <a [routerLink]="['/autenticacion']" class="btn">Únete a nuestra plataforma</a>
                    </div>

                </div>
                <div class="activities-grid-item star-gazing">
                    <div class="iconsRedirect">
                        <i class="fa fa-paw" aria-hidden="true"></i>
                        <i class="fa fa-download redirect" aria-hidden="true"></i>
                    </div>

                    <h1>¿AMAS A LOS ANIMALES?</h1>
                    <p>Desde la aplicación móvil podrás:</p>
                    <ul>
                        <li>Adoptar mascotas, para lo cual únicamente debes llenar un formulario y serás notificado si tu proceso fue aprobado.</li>
                        <li>Ayudar como voluntario en las diferentes emergencias.</li>
                    </ul>
                    <div class="btnCrds">
                        <a href="https://play.google.com/store/apps/details?id=com.asiepnfundacioness" target="_blank" class="btn">Descarga nuestra APP</a>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="contactsSofr">
            <p>Autores</p>
        </div>
        <div class="testimonial">

            <div class="testimonial-text-box">
                <p>Nuestra misión es ayudar a los animales que no tienen un hogar...</p>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
            <div class="testimonial-customer-content">
                <div class="testimonial-customer">
                    <img src="../../../../../assets/img/yop.jpg">
                    <h1>Dave Hernández</h1>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> 0995649554</p>
                </div>
                <div class="testimonial-customer">
                    <img src="../../../../../assets/img/maf.jpeg">
                    <h1>María Fernanda Tibanta</h1>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> 0998625773</p>
                </div>
            </div>



        </div>
    </section>
   
</main>