
<ngx-ui-loader [loaderId]="'loader-02'" 
bgsColor= "#fc7c7c"
bgsOpacity= "0.7"
bgsPosition= "bottom-right"
bgsSize= "60"
bgsType= "square-jelly-box"
blur= "14"
delay= "0"
fastFadeOut= "true"
fgsColor= "#3bbfad"
fgsPosition= "center-center"
fgsSize= "60"
fgsType= "square-jelly-box"
gap= "10"
logoPosition= "center-center"
logoSize= "120"
logoUrl= "" 
masterLoaderId= "master"
overlayBorderRadius= "0"
overlayColor= "rgba(40, 40, 40, 0.8)"
pbColor= "rgba(40,0,248,0)"
pbDirection= "rtl"
pbThickness= "3"
hasProgressBar= "false"
text= ""
textColor= "#FFFFFF"
textPosition= "center-center"
maxTime= "-1"
minTime= "500"
></ngx-ui-loader>
<div class="main">
    <div class="modal fade" id="modalAyudarEmergencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 1.5rem;">{{tituloMsj}}</h5>
                <button type="button"  data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body" >
                    <img  src="../../../../assets/img/affirmative-156538_640.png">
                    <p>{{mensajeAyuda}}</p>
            </div>
           
          
        </div>
    </div>
    </div>
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 1.5rem;">{{tituloConfirmacion}}</h5>
                <button type="button"  data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body" >
                    <img  src="../../../../../assets/img/adver.png">
                    <p>{{mensajeConfirmacion}}</p>
            </div>
            <div class="modal-footer btnsConfirmacion">
                <button type="button" class="btn btn-primary" (click)="executeFunction()">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              </div>
          
        </div>
    </div>
    </div>
    <div class="modal fade" id="modalAprobarNegar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 1.5rem;">{{tituloAP}}</h5>
                <button type="button"  data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body" >
                <mat-form-field appearance="standard" >
                    <mat-label>Mensaje para el donador</mat-label>
                    <textarea [formControl]="msjDonador" matInput required type="text" id="msjDon" placeholder="Mensaje para el donador"></textarea>
                    <mat-icon matSuffix><i class="fa fa-user-circle-o" aria-hidden="true"></i>                </mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="standard" *ngIf="tipoAprobarNegar == 'aproVolun'">
                    <mat-label>Instrucciones para los voluntarios</mat-label>
                    <textarea [formControl]="msjVoluntarios" matInput required type="text" id="msjVol" placeholder="¿Qué instrucciones deben seguir los voluntarios?"></textarea>
                    <mat-icon matSuffix><i class="fa fa-users" aria-hidden="true"></i></mat-icon>
                  </mat-form-field>
            </div>
            <div class="modal-footer btnsConfirmacion">
                <button type="button" class="btn btn-primary" (click)="executeFunctionAprobarNegar()">Enviar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              </div>
          
        </div>
    </div>
    </div>
    
    <header id="header" *ngIf="donacionOB">
    
        <div class="titulo">
            <h3>Solicitud de donación</h3>
            <span class="lineTi"></span>
        </div>
    
    
    </header>
    <div class="container" *ngIf="donacionOB">
        <div class="row">
            <div class="col-12 col-md-3 donacion-content">
                <div class="donacion-content-img">
                    <img *ngIf="donacionOB.estado == 'fundacion'" src="https://fundacionesbckimg.s3.us-east-2.amazonaws.com/{{ 
                        donacionOB.comprobante}}">
                    <img *ngIf="donacionOB.estado != 'fundacion'" src="https://fundacionesbckimg.s3.us-east-2.amazonaws.com/{{ 
                        donacionOB.foto}}">
                </div>
                
                <div class="donacion-content-datos">
                   
                    <div class="divider-titulo">
                        <p>Estado</p>
                        <span></span>
                    </div>
                    <p>Publicado:&nbsp;{{donacionOB.creadoEn}}</p>
                    <div class="divider-titulo2">
                        <p>{{donacionOB.tipo}}</p>
                        <span></span>
                    </div>
                    <p *ngIf="donacionOB.tipo == 'Económica'">Cantidad: {{donacionOB.cantidad}} $$</p>
                    <p *ngIf="donacionOB.tipo == 'Producto'">Nombre Producto: {{donacionOB.nombreProducto}}</p>
                    <div class="divider-titulo2">
                        <p>Descripción</p>
                        <span></span>
                    </div>
                    <p>{{donacionOB.descripcion}}</p>
    
                </div>
            </div>
            <div class="col-12 col-md-8 donacion-info-content">
                <mat-tab-group (selectedIndexChange)="tabChanged($event)">
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">person_pin                    </mat-icon>
                        Donador
                      </ng-template>
                      <div class="donador">
                        <div class="donador-photo">
                            <div class="photo">
                                <img src="https://fundacionesbckimg.s3.us-east-2.amazonaws.com/{{ 
                                    donacionOB.donanteR.foto}}">
                            </div>
                          </div>
                          <div class="donador-datos">
                            <div class="info">
                                <i class="fa fa-user" aria-hidden="true"></i> <p> {{donacionOB.donanteR.nombres}} {{donacionOB.donanteR.apellidos}}</p>
                            </div>
                            <div class="info">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i><p>{{donacionOB.donanteR.telefono}}</p>
                                </div>
                                <div class="info">
                                        <i class="fa fa-mobile" aria-hidden="true"></i><p>{{donacionOB.donanteR.celular}}</p>
                                    </div>
                                    <div class="info">
                                            <i class="fa fa-envelope" aria-hidden="true"></i> <p>{{donacionOB.donanteR.correo}}</p>
                                        </div>
                          </div>
                        
                      </div>
                    </mat-tab>
                  
                    <mat-tab *ngIf="donacionOB.asignar == true">
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">room</mat-icon>
                        Dirección de retiro
                      </ng-template>
                      <div class="retiro row">
                        <div class="retiro-datos col-12 col-sm-12 col-md-6">
                            <div class="info">
                                <span>Sector:</span>
                                <p> {{donacionOB.sector}}</p>
                            </div>
                            <div class="info">
                                <span>Ubicación:</span>
                                <p>{{donacionOB.direccion.formmatedAddres}}</p>
                            </div>
                            <div class="info">
                                <span>Referencia:</span>
                                <p>{{donacionOB.referencia}}</p>
                            </div>
                          
                     
                        </div>
    
                        <div class="retiro-mapa col-12 col-sm-12 col-md-6" >
                            <div id="mapcustom" style="width: 100%; height: 25em;" >
                            </div>
                        </div>
                    </div>
                    </mat-tab>
                  
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">library_add_check
                        </mat-icon>
                        Acciones
                      </ng-template>
                  
                      <div class="acciones">
                        
                        <div class="AYUDA" *ngIf="donacionOB.estado == 3 || donacionOB.estado == 0">
                            <p [class.error]="statusAyuda == 'errorVoluntario'" *ngIf="donacionOB.estado == 3">
                                El donador solicitó voluntarios para retirar la donación en producto. Por favor en base a la imagen 
                                selecciona los voluntarios necesarios que retiren el producto:</p>
                            <div class="row justify-content-center" >
                                <div class="col-12 col-md-8">
                                        <form class="formulario needs-validation" novalidate>
                                                <div class="SCROLVOLSE" *ngIf="donacionOB.estado == 3">
                                                    
                                                       <div class="form-check" *ngFor="let volun of voluntarios">
                                                               <input *ngIf="donacionOB.donanteR._id != volun._id" required type="checkbox" name="checkbox" id="{{volun._id}}" value="{{volun._id}}">
                                                               <label *ngIf="volun.foto && donacionOB.donanteR._id != volun._id" for="{{volun._id}}">{{volun.nombres}} {{volun.apellidos}}
                                                                   <div class="imgVol">
                                                                       <img src="https://fundacionesbckimg.s3.us-east-2.amazonaws.com/{{ 
                                                                        volun.foto}}">
                                                                   </div>
                                                               </label>
                                                               <label *ngIf="!volun.foto && donacionOB.donanteR._id != volun._id" for="{{volun._id}}">{{volun.nombres}} {{volun.apellidos}}
                                                                   <div class="imgVol">
                                                                       <img src="../../../assets/img/user.png">
                                                                   </div>
                                                               </label>
                                                           </div>
                                                </div>
                                                  
                                                   <div class="btnm" style="border: 0 !important;">
                                                        <button [disabled]="statusAyuda == 'procesando'" *ngIf="donacionOB.tipo == 'Producto' && donacionOB.estado == 3"  (click)=" aprobarDonacion()" type="button" class="btn btn-primary btnRGA" >Asignar</button>
                                                            <button [disabled]="statusAyuda == 'procesando'" *ngIf="donacionOB.tipo == 'Producto' && donacionOB.estado == 0" (click)="executeConfirmacionAprobarNegar('donSINA','')" type="button" class="btn btn-primary btnRGA" >Aprobar</button>
            
                                                            <button [disabled]="statusAyuda == 'procesando'" *ngIf="donacionOB.tipo == 'Económica'" type="button" (click)="executeConfirmacionAprobarNegar('donEco','')" class="btn btn-primary btnRGA1" >Aprobar</button>
                                                                <button  [disabled]="statusAyuda == 'procesando'"  (click)="executeConfirmacionAprobarNegar('negar','')" type="button" class="btn btn-primary btnRGA2" >Negar </button>
                                                   </div>
                                                   
                                               </form>
                                </div>
                            </div>
                           
                          
                    </div>
                    <div class="AYUDA" *ngIf="donacionOB.estado == 4">
                        <p  *ngIf="donacionOB.estado == 4" style="text-align: justify !important;">
                            Esta donación fue asignada a voluntarios. Debes marcar la donación como aprobada para
                        que los voluntarios puedan ver la información del donador. Recuerda que dicha información
                    solo será visible a los voluntarios asignados que aceptaron la solicitud. </p>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10">
                                    <form class="formulario needs-validation"  novalidate style="margin: 2rem 0;">
                                            <div class="SCROLVOLSE" *ngIf="donacionOB.estado == 4">
                                                
                                                   <div class="form-check" *ngFor="let volun of voluntariosMix">
                                                           <input *ngIf="donacionOB.donanteR._id != volun._id"  (change)="hola($event)"  required type="checkbox" [checked]="volun.seleccionado == true" [disabled]="volun.seleccionado == true"  name="checkbox" id="{{volun._id}}" value="{{volun._id}}">
                                                           <label *ngIf="volun.foto && donacionOB.donanteR._id != volun._id" for="{{volun._id}}" class="voluntarioLabelCheck">
                                                            <span>{{volun.nombres}} {{volun.apellidos}} </span>
                                                            <span *ngIf="volun.estadoD == '0'">( Pendiente)</span>
                                                            <span *ngIf="volun.estadoD == '1'" style="color: red;">( No aceptó la solicitud)</span>
                                                            <span *ngIf="volun.estadoD == '2'">( Aceptó la solicitud)</span>
                                                               <div class="imgVol">
                                                                   <img src="https://fundacionesbckimg.s3.us-east-2.amazonaws.com/{{ 
                                                                    volun.foto}}">
                                                               </div>
                                                           </label>
                                                           <span (click)="executeConfirmacion('delVol',volun._id)" *ngIf="volun.seleccionado == true" style="border: 1px solid #bf3b3b;
                                                                                                                    margin: 5px;
                                                                                                                    padding: .5rem;
                                                                                                                    border-radius: 4px;
                                                                                                                    cursor: pointer;">
                                                           <i class="fa fa-trash" aria-hidden="true" style="font-size: 1.7rem; color: #bf3b3b;"></i></span>
    
                                                       </div>
                                            </div>
                                              
                                             
                                           </form>
    
                            </div>
                            <div class="col-12">
                                <div class="btnsACCIONES" *ngIf="anadirVoluntarios == false">
                              
                                    <button  *ngIf="donacionOB.estado == 4 " (click)="executeConfirmacionAprobarNegar('aproVolun','')"class="btn btn-primary bnMA">Aprobar</button>
                                    <button  *ngIf="donacionOB.estado == 4 " (click)="executeConfirmacionAprobarNegar('negar','')" class="btn btn-primary bnMA">Negar</button>
                                    <button  *ngIf="donacionOB.estado == 4 " (click)="executeConfirmacion('reasignar','')"class="btn btn-primary bnMA">Reasignar voluntarios</button>
    
                        </div>
                        <div class="btnsACCIONES " *ngIf="anadirVoluntarios == true">
                              
                            <button  *ngIf="donacionOB.estado == 4 " (click)="anadirVoluntariosToDonacion()"class="btn btn-primary bnMA">Añadir voluntarios seleccionados</button>
                            
    
                </div>
                            </div>
                        </div>
                       
                      
                </div>
                    <div class="ACOGIDA"  *ngIf="donacionOB.estado == 1">
                            <div class="acciones-info" >
                                    <h5>Marcaste esta donación como Aprobada</h5>
                                </div>
                               <div class="observacionesDonacion" >
                                   <div class="titulo">
                                       Observaciones
                                   </div>
                                   <p>Donador: {{donacionOB.observacionDonador}}</p>
                                   <p *ngIf="donacionOB.observacionVoluntarios && donacionOB.observacionVoluntarios != ''">Voluntarios: {{donacionOB.observacionVoluntarios}}</p>
                               </div> 
                        <div class="row voluntarios" *ngIf="donacionOB.tipo == 'Producto'" >
                            <div class="col-12 tituloV">
                                <p>Voluntarios seleccionados para la donación:</p>
                            </div>
                            <div class="col-12">
                                <div class="info" *ngIf="voluntariosAS.length > 0">
                                    <p *ngFor="let vl of voluntariosAS">{{vl.voluntarioC.nombres}} {{vl.voluntarioC.apellidos}} 
                                        
                                        <span *ngIf="vl.estadoD == '0'">( Aún no acepta la solicitud)</span>
                                        <span *ngIf="vl.estadoD == '2'">( No aceptó la solicitud)</span>
                                        <span *ngIf="vl.estadoD == '1'">( Aceptó la solicitud)</span>
                                    
                                    </p>
                                   
                                </div>
                                <div class="info" *ngIf="voluntariosAS.length == 0">
                                        <p >No existe voluntarios
                                        </p>
                                       
                                    </div>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class="ACOGIDA"  *ngIf="donacionOB.estado == 'fundacion'">
                        <div class="acciones-info" >
                                <h5>Donación realizada desde el sistema</h5>
                            </div>
    
                   
                   
                </div>
                    <div class="ACOGIDA"  *ngIf="donacionOB.estado == 2">
                        <div class="acciones-info" >
                                <h5>Marcaste esta donación como Negada</h5>
                            </div>
                            <div class="observacionesDonacion">
                                <div class="titulo">
                                    Observaciones
                                </div>
                                <p>Donador: {{donacionOB.observacionDonador}}</p>
                                <p *ngIf="donacionOB.observacionVoluntarios && donacionOB.observacionVoluntarios != ''">Voluntarios: {{donacionOB.observacionVoluntarios}}</p>
                            </div> 
                    <div class="row voluntarios" >
                        <div class="col-12 tituloV">
                            <p>Voluntarios seleccionados para la donación:</p>
                        </div>
                        <div class="col-12">
                            <div class="info" *ngIf="voluntariosAS.length > 0">
                                <p *ngFor="let vl of voluntariosAS">{{vl.voluntarioC.nombres}} {{vl.voluntarioC.apellidos}} 
                                    
                                    <span *ngIf="vl.estadoD == '0'">( Aún no acepta la solicitud)</span>
                                    <span *ngIf="vl.estadoD == '2'">( No aceptó la solicitud)</span>
                                    <span *ngIf="vl.estadoD == '1'">( Aceptó la solicitud)</span>
                                
                                </p>
                               
                            </div>
                            <div class="info" *ngIf="voluntariosAS.length == 0">
                                    <p >No existe voluntarios
                                    </p>
                                   
                                </div>
                        </div>
                    </div>
                   
                   
                </div>
                    
                    
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                  
            </div>
        </div>
    </div> 
</div>
