@import '../../../../../assets/styles/nosotros.scss';
.container{
    margin-top: 0rem;
    font-family: 'Exo', sans-serif;
}

.carousel-item img{
    width: 100%;
} 

/*-----SI NO HAY PORTADAS--------*/
.hero{
    width: 100%;
    height: 75vh !important;
    background: linear-gradient(135deg, rgba(24, 113, 131, 0.89) 0%, rgba(56, 129, 149, 0.4) 100%), url('../../../../../assets/img/4586.jpg') center no-repeat;
    background-size: cover;
    position: relative !important;
} 
.hero:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url('../../../../../assets/img/wave-small.png');
    background-size: cover;
    z-index: 1 !important;
}

@media screen and (max-width:470px){
    .hero::before{
        height: 9.4rem;
        background: url("../../../../../assets/img/wave-medium.png");
        background-size: cover;
    }
    .carousel-caption{
        bottom: 5%;
        width: 100%;
        display: block !important;
    }
    .textimonials::before{
        height: 9.4rem;
        background: url("../../../../../assets/img/wave-medium-reversed.png");
        background-size: cover;
    }
}
@media screen and (min-width:470px){
    .hero::before{
        height: 9.4rem;
        background: url("../../../../../assets/img/wave-medium.png");
        background-size: cover;
    }
    .carousel-caption{
        bottom: 5%;
        width: 100%;
        display: block !important;
    }
    .textimonials::before{
        height: 9.4rem;
        background: url("../../../../../assets/img/wave-medium-reversed.png");
        background-size: cover;
    }
}
@media screen and (min-width:950px){
    .hero::before{
        height: 11.7rem;
        background: url('../../../../../assets/img/wave-large.png');
        background-size: cover;
    }
    .carousel-caption{
        bottom: 10%;
        width: 100%;
        display: block !important;
    }
    .testimonials::before{
        height: 16.7rem;
        background: url('../../../../../assets/img/wave-large-reversed.png');
        background-size: cover;
    }
}

@media screen and (min-width:1200px){
    .hero{
        height: 75vh;
        
    }
    .carousel-caption{
        bottom: 0%;
        width: 65%;
    }
}
@media screen and (min-width:1400px){
    .hero::before{
        height: 20.7rem;
        background: url('../../../../../assets/img/wave-large.png');
        background-size: cover;
    }
    .carousel-caption{
        bottom: 11%;
        width: 65%;
    }
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgimg-1, .bgimg-2{
    display: none;
}
.bgimg-1{
    background-image: url("../../../../../assets/img/perro-en-la-oscuridad-4934.jpg");
    min-height: 70vh;
    background-size: 100% 100%;
    background-position: left;
    .mision{
        font-family: 'Exo', sans-serif;
        background: #00000063;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        
        padding: 3rem;
        h5{
            margin: 0;
            color: #3bbfa0;
            font-size: 25px;
            font-weight: bold;
        }
        p{
            color: white;
            font-size: 17px;
            width: 100%;
            word-wrap: break-word;
        
        }
    }
    
}
.bgimg-2{
    background-image: url("../../../../../assets/img/wallpapers-hd-gatos.jpg");
    min-height: 70vh;
    background-size: 100% 100%;
    background-position: left;
    .vision{
        font-family: 'Exo', sans-serif;
        background: #00000063;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        
        padding: 3rem;
        h5{
            margin: 0;
            color: #3bbfa0;
            font-size: 25px;
            font-weight: bold;
        }
        p{
            color: white;
            font-size: 17px;
            width: 100%;
            word-wrap: break-word;
        }
    }
    
}
.bgimg-4{
    background-image: url("../../../../../assets/img/perro-en-la-oscuridad-4934.jpg");
    min-height: 70vh;
    background-size: 100% 100%;
    background-position: left;
    .mision{
        font-family: 'Exo', sans-serif;
        position: absolute;
        top: 5%;
        left: 0%;
        display: flex;
        width: 60%;
        flex-direction: column;
        justify-content: center;
        
        padding: 3rem;
    }
    h5{
        margin: 0;
        color: #3bbfa0;
        font-size: 25px;
        font-weight: bold;
    }
    p{
        color: white;
        font-size: 17px;
        width: 100%;
        word-wrap: break-word;
    }
    .vision p{
        text-align: end;
        width: 100%;
        word-wrap: break-word;
    }
    .vision{
        font-family: 'Exo', sans-serif;
        position: absolute;
        bottom: 2%;
        left: 0%;
        display: flex;
        width: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 3rem;
    }
    
}


@media only screen and (max-width:975px){
    .bgimg-4 .mision{
        top: 5%;
        left: 0%;
        width: 100%;
    }
    .bgimg-4 .vision{
        bottom: 2%;
        left: 0%;
        width: 100%;
    }
    .bgimg-4 .vision p, .bgimg-4 .mision p{
        background: rgba(0, 0, 0, 0.63)
    }
  }

  @media only screen and (max-width:550px){
    .bgimg-4{
        display: none;
    }
    .bgimg-1{
        display: flex;
    }
    .bgimg-2{
        display: flex;
    }
  }

  ///fundacion asi-pro last design
  .fundacion-perfil{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding: 0 4rem;
      .fundacion-perfil-logo{
        position: relative;
        width: 25%;
        height: 20rem;
        display: flex;
        justify-content: center;
          .fundacion-perfil-logo-img{
            width: 20rem;
            height: 20rem;
            z-index: 1200;
            position: absolute;
            top: -50%;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            background: #3bbfad;
            border-radius: 50%;
              .img{
                width: 19rem;
                height: 19rem;
                img{
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
              }
          }
      }
      .fundacion-pefil-datos{
          display: flex;
          flex-direction: column;
          width: 70%;
          padding: 1rem;
          p{
            font-size: 17px;
            text-align: justify;
            line-height: 26px;
            font-weight: 400;
            font-style: normal;
            color: #535353;
            width: 100%;
            word-wrap: break-word;
          }
          h5{
            text-align: start;
            font-size: 35px;
            font-weight: 400;
            color: #303030;
            margin: 0;
          }
      }

  }




  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }




  //media querys
  @media only screen and (max-width:768px){
    .fundacion-perfil-logo{
        width: 100% !important;
    }
    .fundacion-pefil-datos{
        width: 100% !important;
    }
  }
  @media only screen and (min-width:769px){
    .fundacion-perfil-logo{
        width: 30% !important;
    }
    .fundacion-pefil-datos{
        width: 70% !important;
    }
  }
  @media only screen and (min-width:1200px){
    .fundacion-perfil-logo{
        width: 25% !important;
    }
    .fundacion-pefil-datos{
        width: 70% !important;
    }
  }

  .info-add{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 1em;
      i{
          font-size: 2em;
          color: #535353;
      }
      .iconinf{
          width: 6%;

      } 
      .txtinf{
          width: 75%;
          p,a{
              margin: 0;
                color: #535353;
                font-size: 1.5em;
          }
      }
  }