<div class="main">
    <div style="width: 15em; height: 15em; position: relative;">
        <!-- the position of the parent container must be set to relative -->
        <!-- It is really important to set loaderId for non-master loader -->
        <ngx-ui-loader [loaderId]="'loader-01'" 
        bgsColor= "#fc7c7c"
        bgsOpacity= "0.7"
        bgsPosition= "bottom-right"
        bgsSize= "60"
        bgsType= "square-jelly-box"
        blur= "14"
        delay= "0"
        fastFadeOut= "true"
        fgsColor= "#3bbfad"
        fgsPosition= "top-center"
        fgsSize= "60"
        fgsType= "square-jelly-box"
        gap= "10"
        logoPosition= "center-center"
        logoSize= "120"
        logoUrl= "" 
        masterLoaderId= "master"
        overlayBorderRadius= "0"
        overlayColor= "rgba(174,23,23,0)"
        pbColor= "rgba(40,0,248,0)"
        pbDirection= "rtl"
        pbThickness= "3"
        hasProgressBar= "false"
        text= ""
        textColor= "#FFFFFF"
        textPosition= "center-center"
        maxTime= "-1"
        minTime= "500"
        ></ngx-ui-loader>
      </div>
</div>
