.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content-location{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    mat-form-field{
        width: 100%;
    }
    .content-map{
        width: 100%;
        height: 70%;
    }
    .location-selected{
        width: 100%;
        p{
            font-size: 1.5em;
        }
    }
}
::ng-deep .cdk-overlay-container{
    z-index: 3000 !important;
}
.actions{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    button{
        margin: 0 1em;
    }
    .acp{
        background-color: #3bbfa0;
        color: white;
    }
    .ng{
        color: white;
        background-color: #bf3b3b;
    }
}
::ng-deep .cdk-overlay-container{
    z-index: 3000 !important;
}